.section__inner {
	max-width: 92vw;
	margin: 0 auto;
}

p,
span,
a,
.sans {
	font-family: $lato;
	font-size: rem-calc(20);
}

.entry-content {
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6,
	.serif {
		font-family: $frank;
		color: $blue;
		margin: 0;
	}
}
